header{
	
	background-image:url("Broadcast-Media-Mass-Communication.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 120px;
}
#tit{
	border:floralwhite;
	padding:20px;

	background-color: red; 
	font-size: 40px; 
	border:2em; 
	width:35%;

}

#evo{
	display: inline;
	padding-top: 20px;
	border-image: 3px solid yellow;
}
body{
	background-color: #000000;
	background-image: linear-gradient(-315deg, #ffffff 0%, #91a6ff 74%);
}
